@model List<MarksDetail>

<partial name="_Notification" />

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Marks Detail List</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-controller="MarksDetail" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create Marks Detail
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Marks Id</th>
                    <th>Subject</th>
                    <th>Marks Obtained</th>
                  @*   <th>Action</th>
                    <th>StudentName</th>
                    <th>TeacherName</th> *@

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>@obj.MarksId</td>
                        <td>@obj.Subject</td>
                        <td>@obj.MarksObtained</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="MarksDetail" asp-action="Edit" asp-route-marksId="@obj.MarksId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="MarksDetail" asp-action="Delete" asp-route-marksId="@obj.MarksId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
